<!DOCTYPE html>
<html>
<head>
    <title>Internal Error</title>
</head>
<body>
<h1>ln.support</h1>
<h2>Internal Error</h2>

<p>It looks like we hit a bug. I should be able to detect and fix this within a day. Yet, if the issue persists, please reach out!</p>

<p>To contact me please use one of:</p>
<ul>
    <li>Ask a <a href="https://ln.support/t/Meta/">Meta question on the website</a></li>
    <ul>
        <li>(most privacy, yet question will be visible publicly)</li>
    </ul>
    <li>Email <img src="/static/img/contact-email.png" /></li>
    <ul>
        <li>(less privacy, email is used to communicate with me)</li>
    </ul>
    <li>File a <a href="https://github.com/alevchuk/ln-central/issues">GitHub Issue</a></li>
    <ul>
        <li>(least private, GitHub knows your email and other info, question is shared publicly)</li>
    </ul>
</ul>

If possible, please mention the exact time of error and/or the URL.
</body>
</html>
