{% extends "starbase.html" %}
{% load server_tags %}
{% load static %}

{% block page_title %}
    {{ post.title }}
{% endblock %}

{% block extras %}

    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Converter.js" %}"></script>
    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Sanitizer.js" %}"></script>
    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Editor.js" %}"></script>

    {#  Markdown editor style #}
    <link rel="stylesheet" href={% static "lib/pagedown/markdown.css" %}>

{% endblock %}

{% block content %}

{% if nodes_list|length > 0 %}

    {% if errors_detected %}
        <div style="background: #a94442; color: #ffffff; text-align: center; padding: 0.5em; font-size: 150%;">
        Errors Detected
        </div>

        {% if show_error_summary %}
            <div style="background: #a94442; color: #ffffff; text-align: left; padding: 0.5em; font-size: 150%;">
            <ul>
                {% for e in error_summary_list %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}

    {% endif %}

    <div class="row" itemscope itemtype="http://schema.org/QAPage">

        <div class="col-xs-12 col-md-9">

            <div id="post-details" >

                <span itemscope itemtype="http://schema.org/Question">
                    {% accept_preview_body post %}
                </span>
            </div>

            <br />

            <h1>To accept answer, you must sign the memo message. Please scroll up and press the blue "Accept Answer" button.</h1>

        </div>
    </div>


{% else %}
    <div>
        <h2>Sorry, no LN Nodes are currently available</h2>
        <p>Please try again later. If the problem persists please contact the site owners.</p>
    </div>
{% endif %}

{% endblock %}
