{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}
    Update Post
{% endblock %}

{% block extras %}

    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Converter.js" %}"></script>
    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Sanitizer.js" %}"></script>
    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Editor.js" %}"></script>

    {#  Markdown editor style #}
    <link rel="stylesheet" href={% static "lib/pagedown/markdown.css" %}>

{% endblock %}

{% block content %}

{% if errors_detected %}
    <div>
        <div style="background: #a94442; color: #ffffff; text-align: center; padding: 0.5em; font-size: 150%;">
        Errors Detected
        </div>
    </div>
{% endif %}

{% if nodes_list|length > 0 %}
    <div class="row">
        <h2 class="col-md-4 col-xs-4" style="text-align: right;">
            LN Nodes: {{ nodes_list|join:", " }}
        </h2>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <br>
            {% crispy form %}
        </div>
    </div>

{% else %}
    <div>
        <h2>Sorry, no LN Nodes are currently available</h2>
        <p>Please try again later. If the problem persists please contact the site owners.</p>
    </div>
{% endif %}




{% endblock %}
