{% extends "starbase.html" %}
{% load server_tags %}
{% load static %}

{% block page_title %}
    {{ post.title }}
{% endblock %}

{% block extras %}

    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Converter.js" %}"></script>
    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Sanitizer.js" %}"></script>
    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Editor.js" %}"></script>

    {#  Markdown editor style #}
    <link rel="stylesheet" href={% static "lib/pagedown/markdown.css" %}>

{% endblock %}

{% block content %}


    <div class="row" itemscope itemtype="http://schema.org/QAPage">

        <div class="col-xs-12 col-md-9">

            <div id="post-details" >

                <span itemscope itemtype="http://schema.org/Question">
                    {% post_preview_body post %}
                </span>
            </div>

            <br />
            <a class="btn btn-primary" href="{{ publish_url|safe }}">Get invoice</a>

        </div>
    </div>
    <script src="/static/lib/prism/prism.js" type="text/javascript"></script>

{% endblock %}
