Django>=2.1.7,<3.0.0
PyYAML>=5.1,<6.0
bleach>=1.4,<2.0
django-compat>=1.0.15,<2.0.0  # django-compat is requred by the submodule django-background-tasks
djangorestframework>=3.9.2,<4.0.0
html5lib>=0.999,<0.99999999
markdown2>=2.3.7,<3.0.0
psycopg2-binary>=2.8.4,<3.0.0
pytz>=2018.9
requests>=2.3.0,<3.0.0
