[submodule "writer/project-basedir/dependencies/github.com/alevchuk/django-background-tasks"]
	path = writer/project-basedir/dependencies/github.com/alevchuk/django-background-tasks
	url = git@github.com:alevchuk/django-background-tasks.git
