*.pyc
*~
.DS_Store
.idea/*
/import/*
/conf/*.env
/docs/_build

# Common machine-specific settings files.
biostar/settings/local*.py
biostar/settings/production*.py
biostar/settings/staging*.py
biostar/settings/test*.py

# Common machine-specific requirements files.
conf/requirements/local*.txt
conf/requirements/production*.txt
conf/requirements/staging*.txt
conf/requirements/test*.txt

# Common machine-specific logger files.
biostar/settings/logger_*.py

# Generated configs
conf/server/biostar.nginx.conf

# virtualenv files
.Python
reader-env/lib
reader-env/local
reader-env/bin
reader-env/djcelery
reader-env/include
reader-env/share
writer-env/lib
writer-env/bin
writer-env/include
writer-env/share

# deployment files
reader-env/project-basedir/live
writer-env/project-basedir/live
