{% load server_tags %}
{% load crispy_forms_tags %}
{% load cache %}
{% load more_like_this %}

<div>
    <div style="background: #5bbad5; color: #ffffff; text-align: center; padding: 0.5em;  font-size: 150%;">
    Accept Answer - Signature Required
    </div>
</div>


<div class="post-body {{ post.get_status_display }} clearfix">

    <div class="title" ><span itemprop="name">{{ post.title }}</span></div>


    <div class="post vote-box visible-lg visible-md" >
        <div class="count" itemprop="voteCount">{{ post.vote_count }}</div>


    </div>

    <div>
        <a name="{{ post.id }}"></a>
        {# The body of the post #}
        <div class="content" >

            <div class="col-xs-3 col-md-3 box pull-right text-center visible-lg visible-md">
                <div><a href="{{ post.author.get_absolute_url }}">{% avataaar post.author 82 %}</a></div>
                <div class="ago">{{ post.lastedit_date|time_ago }} by</div>
                <div class="uname">{% userlink post.author %}</div>
            </div>

            <span itemprop="text">{{ post.html|safe }}</span>

            <div class="clearfix">
                {% if post.is_toplevel %}
                    <div class="tags clearfix" style="margin-bottom:0.5em;">
                        {% for tag in post.tag_value %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>

    </div>

</div>


<div style="clear: both; padding-top: 1em">
<h1>Next step</h1>
<div>Please sign to accept the answer.</div>

<h4>1/ Sign</h4>
<div style="margin-left: 5em;">
<div style="margin-bottom: 2em;">
<p>1. Sign using run:

<pre>lncli signmessage '{{ memo_json }}'</pre>

<ul>
    <li>The command above shows how to sign with LND</li>
    <li>To sign with c-lightning instead of <tt>lncli</tt> put <tt>lightning-cli</tt></li>
    <li>To sign with Zap Desktop, click on your node's IP Address, then click on <a href="https://github.com/LN-Zap/zap-desktop/pull/2696">Profile</a>, click Sign Message, and paste <pre>{{ memo_json }}</pre></li>
</ul>

</p>
<p>2. Copy and paste the signature here:</p>
{% crispy form %}
</div>

<h4>How to maintain financial privacy?</h4>
<div>Sign and Pay with two different wallets. The wallet used to sign will control your online identity. Since Lightning payments are anonymous, the wallet used for payment is not associated with your online identity actions.</div>

<h4>What happens if I sign this?</h4>
<div>The following information is going to be associated with the post and made publicly visible.</div>
<ul>
    <li>Signing wallet's <b>pubkey</b>
        <ul>
            <li>by <b>pubkey</b> we mean the Lightning Network Node wallet <tt>identity_pubkey</tt></li>
            <li>this can be a different <b>pubkey</b> then what will be used for payment. Because of the way Lightning network operates, we cannot tell what <b>pubkey</b> was used to make the payment.</li>
        </ul>
    </li>
    <li>Statistics such as number of posts, up-votes, and reputation score</li>
    <li>There will also be a "pen name" and an avatar image generated based on the <b>pubkey</b></li>
</ul>
</div>


<h4>2/ Pay to accept</h4>
<div style="margin-left: 5em;">
The post will be accepted after a payment is made on the Lightning Network using the invoice.
Payment of <b>{{ payment_amount|intcomma }} sats</b> is required.
</div>


{% regarding_privacy %}
