{% load server_tags %}
{% load crispy_forms_tags %}
{% load cache %}
{% load more_like_this %}

<div>
    <div style="background: #5bbad5; color: #ffffff; text-align: center; padding: 0.5em">
    Preview
    </div>
</div>


<div class="post-body {{ post.get_status_display }} clearfix">

    <div class="title" >{{ post.get_type_display }}: <span itemprop="name">{{ post.title }}</span></div>


    <div class="post vote-box visible-lg visible-md" >
        <div class="vote mark tip" data-toggle="tooltip" data-placement="top"
             data-type="vote" title="Upvote!">
            <i class="fa fa-thumbs-o-up fa-2x"></i></div>

        <div class="count" itemprop="voteCount">0</div>

        <div class="vote mark tip" data-toggle="tooltip" data-placement="top"
             data-type="bookmark" title="Bookmark!">
            <i class="fa fa-book fa-2x"></i>
        </div>

    </div>

    <div>
        <a name="{{ post.id }}"></a>
        {# The body of the post #}
        <div class="content" >

            {% if user.is_unsigned %}
                <div class="col-xs-3 col-md-3 box pull-right text-center visible-lg visible-md">
                    <div><a href="{{ user.get_absolute_url }}">{% avataaar user 82 %}</a></div>
                    <div class="ago">{{ date|time_ago }} by</div>
                    <div class="uname">{% userlink user %}</div>
                    <div>&nbsp;</div>
                    <div>(This avatar and pen name is used for all unsigned posts)</div>
                </div>
                <div class="box text-center visible-sm visible-xs">
                    <div>(This avatar and pen name is used for all unsigned posts)</div>
                    <div class="uname"><a href="{{ user.get_absolute_url }}">{% avataaar user 40 %}</a>{% userlink user %} wrote:</div>
                </div>
            {% else %}
                <div class="col-xs-3 col-md-3 box pull-right text-center visible-lg visible-md">
                    <div>{% avataaar user 82 %}</div>
                    <div class="ago">{{ date|time_ago }} by</div>
                    <div class="uname">{% coolname user %}</div>
                </div>
                <div class="box text-center visible-sm visible-xs">
                    <div class="uname">{% avataaar user 40 %} {% coolname user %} wrote:</div>
                </div>
            {% endif %}

            <span itemprop="text">{{ post.html|safe }}</span>

            <div class="clearfix">
                {% if post.is_toplevel %}
                    <div class="tags clearfix" style="margin-bottom:0.5em;">
                        {% for tag in post.tag_value %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                        &bull;
                        0 views
                    </div>
                {% endif %}

                <a href="{{ edit_url|safe }}">edit</a>
            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-md-3 sidebar">
    {% cache 600 "similar" post.id %}
        <h4>Similar posts &bull; <a href="{% url 'search-page' %}">Search &raquo;</a></h4>

        {% more_like_this post as related limit 25 %}

        <ul class="more-like-this">
            {% for row in related %}
                {% with row.object as post %}
                    {% if post.is_toplevel %}
                        <li>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }} </a>

                            <div class="peek">{{ post.peek|truncatechars:100 }}</div>
                        </li>
                    {% endif %}
                {% endwith %}
                {%  if forloop.counter == 3 %}
                    {% include "banners/sidebar.html" %}
                {%  endif %}
            {% empty %}

                {% include "banners/sidebar.html" %}

                <li>Nothing matches yet.</li>

            {% endfor %}
        </ul>
    {% endcache %}
</div>

<div style="clear: both">
<h1>Next step</h1>
<div>Please (1) review, (2) sign, and (3) publish your post.</div>
<h4>1/ Review</h4>
<div style="margin-left: 5em; margin-bottom: 2em;">
<p style="margin-bottom: 2em;">Click edit to make changes.</p>

<h5>What if I want to save draft and resume later?</h5>
To save current work and continue later, make a <b>bookmark of this page</b> in your web browser.
</div>

<h4>2/ Sign (optional)</h4>
<div style="margin-left: 5em;">
<div style="margin-bottom: 2em;">
<p>1. Sign using run:

<pre>lncli signmessage '{{ memo_json }}'</pre>

<ul>
    <li>The command above shows how to sign with LND</li>
    <li>To sign with c-lightning instead of <tt>lncli</tt> put <tt>lightning-cli</tt></li>
    <li>To sign with Zap Desktop, click on your node's IP Address, then click on <a href="https://github.com/LN-Zap/zap-desktop/pull/2696">Profile</a>, click Sign Message, and paste <pre>{{ memo_json }}</pre></li>
</ul>

</p>
<p>2. Copy and paste the signature here:</p>
{% crispy form %}
</div>

<h4>How to maintain financial privacy?</h4>
<div>Sign and Pay with two different wallets. The wallet used to sign will control your online identity. Since Lightning payments are anonymous, the wallet used for payment is not associated with your online identity actions.</div>

<h4>What happens if I sign this post?</h4>
<div>The following information is going to be associated with the post and made publicly visible.</div>
<ul>
    <li>Signing wallet's <b>pubkey</b>
        <ul>
            <li>by <b>pubkey</b> we mean the Lightning Network Node wallet <tt>identity_pubkey</tt></li>
            <li>this can be a different <b>pubkey</b> then what will be used for payment. Because of the way Lightning network is designed, we cannot tell what <b>pubkey</b> was used to make the payment.
        </ul>
    </li>
    <li>Statistics such as number of posts, up-votes, and reputation score</li>
    <li>There will also be a "pen name" and an avatar image generated based on the <b>pubkey</b></li>
</ul>


<h4>What are the advantages of signing?</h4>
<ul>
    <li>Earn reputation if people up-vote or bookmark your post</li>
    <li>Ability to modify your post later</li>
    <li>If the post becomes popular, there is a possibility that people will want to reach out to you for payed private consultations. For example, they could use <tt>whatsat chat &lt;pubkey&gt;</tt> to initiate a chat session.</li>
</ul>

<h4>What are the disadvantages of signing?</h4>
<ul>
<li>Your signing wallet's <b>pubkey</b> becomes visible publicly on the Internet</li>
<li>This post will be associated with your signing wallet's <b>pubkey</b></li>
<li>You may or may not like the random-looking "pen name" and an avatar image generated based on the <b>pubkey</b></li>
</ul>
</div>

<h4>3/ Publish</h4>
<div style="margin-left: 5em;">
Click "Get Invoice" button on the bottom of this page. The post will be published after a payment is made on the Lightning Network using the invoice.
Payment of <b>{{ payment_amount }} satoshi</b> is required.
</div>



<h1>Regarding privacy</h1>

<div style="margin-top: 1em">This website does not use cookies. You can also hide your IP address by using Tor or a VPN service. All the information that you entered is encoded in the URL of this webpage.</div>

<div style="margin-top: 1em">The website gets information from you only via <b>HTML forms</b>, and <b>Lightning payments</b>. Not via Java Script or Cookies. Data collected via HTML forms is only used for generating Lightning invoices. Payments of invoices are required for all actions on the website such as posting, commenting, and upvoting. Data is published only when you make a <b>Lightning payment</b>. All data published here is publicly accessible.</div>

<h4>What information is saved in the URL and invoice?</h4>
<div>
The URL of this page encodes the work in-progress. The URL encodes only what's visible on this page. Specifically, the content of the post and timestamp. It does not contain your IP address, or any other data that can identify the person or people involved in writing the post. If you choose to sign this post, then the URL will also contain your wallet's pubkey. This URL and the lightning invoice (created in next step) contain the same information about what is going to be published.</div>

<h4>How can I verify what information is encoded in the URL and invoice?</h4>
<div>You can decode the URL with python 3 like so</div>
<code>
echo PUT_URL_HERE   | python3 -c 'import zlib, binascii, urllib.parse, sys;
url = sys.stdin.readline();
url = url.rstrip("/\n"); "## drop trailing newline";
memo = url.split("/", 6)[6]; "## drop https://ln.support/p/new/preview/";
memo = memo.split("_", 1)[1]; "## drop ln.support_ memo prefix";
memo = memo.rstrip("/"); "## drop trailing /";
memo = urllib.parse.unquote(memo); "## url encdoding";
decoded = zlib.decompress(binascii.a2b_base64(memo)).decode("utf-8");
print(decoded);
' | python3 -m json.tool
</code>
<p><br /></p>

<div style="margin-top: 1em">You can decode the payment invoice with lnd command line like so</div>
<code>lncli decodepayreq PUT_INVOICE_HERE</code>
<p><br /></p>
</div>
