{% load server_tags %}
{% load crispy_forms_tags %}

<div>
    <div style="background: #5bbad5; color: #ffffff; text-align: center; padding: 0.5em">
    Preview
    </div>
</div>


<div class="post-body {{ post.get_status_display }} clearfix">

    <div class="title" >{{ post.get_type_display }}: <span itemprop="name">{{ post.title }}</span></div>


    <div class="post vote-box visible-lg visible-md" >
        <div class="vote mark tip" data-toggle="tooltip" data-placement="top"
             data-type="vote" title="Upvote!">
            <i class="fa fa-thumbs-o-up fa-2x"></i></div>

        <div class="count" itemprop="voteCount">0</div>

        <div class="vote mark tip" data-toggle="tooltip" data-placement="top"
             data-type="bookmark" title="Bookmark!">
            <i class="fa fa-book fa-2x"></i>
        </div>

    </div>

    <div>
        <a name="{{ post.id }}"></a>
        {# The body of the post #}
        <div class="content" >

            <div class="col-xs-3 col-md-2 box pull-right text-center visible-lg visible-md">
                    <div>Avatar not yet known</div>
                    <div class="ago">{{ post.date|time_ago }} by</div>
                    <div class="uname">Pen name not yet known</div>
            </div>

            <div class="box text-center visible-sm visible-xs">
                <div class="uname">Pen name not yet known:</div>
            </div>

            <span itemprop="text">{{ post.html|safe }}</span>

            <div class="clearfix">
                {% if post.is_toplevel %}
                    <div class="tags clearfix" style="margin-bottom:0.5em;">
                        {% for tag in post.tag_value %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                        &bull;
                        0 views
                    </div>
                {% endif %}

                <a href="{{ edit_url|safe }}">edit</a>
            </div>

        </div>

    </div>

</div>



<h1>Next step</h1>
<div>Now it's time to review, sign, and publish your post.</div>
<h4>Review</h4>
<div style="margin-left: 5em; margin-bottom: 2em;">
<p style="margin-bottom: 2em;">Click edit to make changes.</p>

<h5>What if I want to save draft and resume later?</h5>
To save current work and continue later, make a <b>bookmark of this page</b> in your web browser.
</div>

<h4>Sign (optional)</h4>
<div style="margin-left: 5em;">
<div style="margin-bottom: 2em;">
<p>1. Sign using <tt>LND</tt> run:

<pre>lncli signmessage '{{ memo_json }}'</pre>

To sign using c-lightning instead of <tt>lncli</tt> put <tt>lightning-cli</tt>
</p>
<p>2. Copy and paste the signature here:</p>
{% crispy signmessage_form %}
</div>

<h4>What happens if I sign this post?</h4>
<div>The following information is going to be associated with the post and made publicly visible.</div>
<ul>
    <li>Your wallet's <b>pubkey</b>
        <ul>
            <li>by <b>pubkey</b> we mean the Lightning Network Node wallet <tt>identity_pubkey</tt></li>
        </ul>
    </li>
    <li>Statistics such as number of posts, up-votes, and reputation score</li>
    <li>There will also be a "pen name" and an avatar image generated based on the <b>pubkey</b></li>
</ul>


<h4>What are the advantages of signing?</h4>
<ul>
    <li>Earn reputation if people up-vote or bookmark your post</li>
    <li>Ability to modify your post later</li>
    <li>If the post becomes popular, there is a possibility that people will want to reach out to you for payed private consultations. For example, they could use <tt>whatsat chat &lt;pubkey&gt;</tt> to initiate a chat session.</li>
</ul>

<h4>What are the disadvantages of signing?</h4>
<ul>
<li>Your wallet's <b>pubkey</b> becomes visible publicly on the Internet</li>
<li>This post will associated with your wallet's <b>pubkey</b></li>
<li>You may or may not like the random-looking "pen name" and an avatar image generated based on the <b>pubkey</b></li>
</ul>
</div>

<h4>Publish</h4>
<div style="margin-left: 5em;">
Click "Get Invoice" button on the bottom of this page. The post will be published after a payment is made on the Lightning Network using the invoice.
Payment of <b>{{ payment_amount }} satoshi</b> is required.
</div>






<h1>Regarding privacy</h1>

<div>First, please read our short <nobr><a href="{% url 'info-policy' %}">User Agreement and Privacy Policy</a></nobr>.</div>

<div style="margin-top: 1em">This website does not set cookies. You can also hide your IP address from us by using a VPN service. The website gets information from you only via <b>URLs</b> (links) and <b>invoices</b> (requests of payments on the Lightning Network). Payments of invoices are required for all actions on the website such as posting, commenting, and upvoting.</div>

<h4>What information is saved in the URL and invoice?</h4>
The URL of this page encodes the work in-progress. The URL encodes only what's visible on this page. Specifically, the content of the post and timestamp. It does not contain your wallet's pubkey, IP address, or any other data about the person or people involved in writing the post. A part of this URL is going to be
included in the invoice which when payed publishes the post.</div>

<h4>How can I know what you're saying about the URL and invoice is true?</h4>
<div>You can decode the URL with python3 like so</div>
<code>
echo PUT_URL_HERE   | python3 -c 'import zlib, binascii, urllib.parse, sys;
url = sys.stdin.readline();
url = url.rstrip("/\n"); "## drop trailing newline";
memo = url.split("/", 6)[6]; "## drop https://ln.support/p/new/preview/";
memo = memo.split("_", 1)[1]; "## drop ln.support_ memo prefix";
memo = memo.rstrip("/"); "## drop trailing /";
memo = urllib.parse.unquote(memo); "## url encdoding";
decoded = zlib.decompress(binascii.a2b_base64(memo)).decode("utf-8");
print(decoded);
' | python3 -m json.tool
</code>
<p><br /></p>

<div style="margin-top: 1em">... and decode the payment invoice with Lightning CLI like so</div>
<code>lncli decodepayreq PUT_INVOICE_HERE</code>
<p><br /></p>
