{% load server_tags %}
{% load humanize %}
<div class="post-action">


    {% if post.type == 0 %}
        <span class="label label-default" style="background-color: orange;">
            <a style="color: #555555;" href="{{ add_bounty_url }}">ADD BOUNTY</a>
        </span>
        &nbsp;
    {% endif %}

    <span class="label label-default add-comment" data-value="{{ post.id }}" id="C{{ post.id }}">ADD {{ label }}</span>

    &bull; <a href="{{ post.get_absolute_url }}">link</a>
    {% if post.is_editable %}
        &bull; <a href="{% url 'post-edit' post.id %}" id="E{{ post.id }}">edit</a>
        &bull; <a class="mod-post" data-value="{{ post.id }}" id="M{{ post.id }}">moderate</a>
        {% if post.book_count %} &bull; {{ post.book_count }} bookmark{{ post.book_count|pluralize }}{% endif %}
    {% endif %}

    &bull;
    <span class="muted">
         written <span itemprop="dateCreated" content="{{ post.creation_date|date:'c' }}">
        {{ post.creation_date|time_ago }}</span>
    </span>
</div>
