{% load server_tags %}
{% load humanize %}
<div class="post-action">

    <span class="label label-default add-comment" data-value="{{ post.id }}" id="C{{ post.id }}">ADD {{ label }}</span>

    &bull; <a href="{{ post.get_absolute_url }}">link</a>
    {% if post.is_editable %}
        &bull; <a href="{% url 'post-edit' post.id %}" id="E{{ post.id }}">edit</a>
        &bull; <a class="mod-post" data-value="{{ post.id }}" id="M{{ post.id }}">moderate</a>
        {% if post.book_count %} &bull; {{ post.book_count }} bookmark{{ post.book_count|pluralize }}{% endif %}
    {% endif %}

    <span class="userlink muted">
            {% if post.creation_date != post.lastedit_date %}
            modified {{ post.lastedit_date|time_ago }}
            {%  if post.author != post.lastedit_user %}
                by {% userlink post.lastedit_user %}
            {%  endif %}
            &bull;
        {% endif %}
        written <span itemprop="dateCreated" content="{{ post.creation_date|date:'c' }}">
        {{ post.creation_date|time_ago }}</span> by {% userlink post.author %}
    </span>
</div>
