{% load server_tags %}


<div class="post-body {{ post.get_status_display }} clearfix">


    {% if post.is_toplevel %}
        {% include "banners/leaderboard.html" %}

        {% if bounty_sats %}
            <div class="title" ><img width=30 src="/static/bitcoin.png"></a>ounty {{ bounty_sats }} sats {{ post.get_type_display }}: <span itemprop="name">{{ post.get_title }}</span></div>
        {% else %}
            <div class="title" >{{ post.get_type_display }}: <span itemprop="name">{{ post.get_title }}</span></div>
        {% endif %}

    {% endif %}

    <div class="post vote-box visible-lg visible-md visible-sm visible-xs" data-post_id="{{ post.id }}">

        <div class="count" itemprop="voteCount">{{ post.vote_count }}</div>

        <div class="mark tip" data-toggle="tooltip" data-placement="top" data-type="vote" title="Upvote!">
            <a href="{{ vote_url }}">
                <i class="fa fa-heart-o fa-2x"></i>
            </a>
        </div>


        {% if not post.is_toplevel %}
            <div class="vote mark {{ post.has_accepted|on }} tip" data-toggle="tooltip" data-placement="top"
                 data-type="accept" title="Accept!">
                {% if post.has_accepted %}
                    <i class="fa fa-check-circle-o fa-2x"></i>
                {% else %}
                    <a href="{{ accept_url }}">
                        <i class="fa fa-check-circle-o fa-2x"></i>
                    </a>
                {% endif %}
            </div>
        {% endif %}

    </div>

    <div>

        <a name="{{ post.id }}"></a>
        {# The body of the post #}
        <div class="content" >

            {% post_user_box post.author post.creation_date %}

            <span itemprop="text">{{ post.html|safe }}</span>


            <div class="clearfix">
                {% if post.is_toplevel %}
                    <div class="tags clearfix" style="margin-bottom:0.5em;">
                        {% for tag in post.tag_set.all %}
                            <a class="tag" href="/t/{{ tag.name }}/">{{ tag.name }}</a>
                        {% endfor %}

                    </div>
                {% endif %}

                {# Post action line #}
                {% post_actions post user %}

            </div>

            {# Comments for each post rendered here #}
            <div class="comment" itemprop="comment">
                {% render_comments request post tree %}
            </div>
        </div>

    </div>

</div>

