{% load server_tags %}
{% load humanize %}

<div class="post-action">
    {% if post.type == 0 %}
        <span class="label label-default" style="background-color: orange;">
            <a style="color: #555555;" href="{{ add_bounty_url }}">ADD BOUNTY</a>
        </span>
        &nbsp;
    {% endif %}

    <span class="label label-default add-comment" data-value="{{ post.id }}" id="C{{ post.id }}">ADD {{ label }}</span>

    &bull; <a href="{{ post.get_absolute_url }}">link</a>
    {% if post.is_editable %}
        &bull; <a href="{% url 'post-edit' post.id %}" id="E{{ post.id }}">edit</a>
        &bull; <a class="mod-post" data-value="{{ post.id }}" id="M{{ post.id }}">moderate</a>
        {% if post.book_count %} &bull; {{ post.book_count }} bookmark{{ post.book_count|pluralize }}{% endif %}
    {% endif %}

    &bull;
    <span class="muted">
         written <span itemprop="dateCreated" content="{{ post.creation_date|date:'c' }}">
        {{ post.creation_date|time_ago }}</span>
    </span>
</div>

{% if candidate_award_sats and candidate_award_sats != "0" %}
    <div class="post-action" style="width: 70%">
    If no signed answers with higher vote count emerge, then <span style="color: orange;">{{candidate_award_sats|intcomma}} sat <img width=20 src="/static/bitcoin.png"></a>ounty</span> will be awarded to the author of this answer <b>in {{preliminary_award_time|naturaltime}}</b>
    </div>

{% elif award_recieved_sats and award_recieved_sats != "0" %}
    <div class="post-action" style="width: 70%">
    Congratulations {% coolname post.author %} you won <span style="color: orange;">{{award_recieved_sats|intcomma}} sat <img width=20 src="/static/bitcoin.png"></a>ounty</span>! Please <a href="{{ take_custody_url }}">take sats here</a>.
    </div>

{% endif %}
