<h1>Regarding privacy</h1>

<div style="margin-top: 1em">This website does not use cookies. You can also hide your IP address by using Tor or a VPN service. All the information that you entered is encoded in the URL of this webpage.</div>

<div style="margin-top: 1em">The website gets information from you only via <b>HTML forms</b>, and <b>Lightning payments</b>. Not via Java Script or Cookies. Data collected via HTML forms is only used for generating Lightning invoices. Payments of
invoices are required for all actions on the website such as posting, commenting, and upvoting. Data is published only when you make a <b>Lightning payment</b>. All data published here is publicly accessible.</div>

<h4>What information is saved in the URL and invoice?</h4>
<div>
The URL of this page encodes the work in-progress. The URL encodes only what's visible on this page. Specifically, the content of the post and timestamp. It does not contain your IP address, or any other data that can identify the person
or people involved in writing the post. If you choose to sign this post, then the URL will also contain your wallet's pubkey. This URL and the lightning invoice (created in next step) contain the same information about what is going to be
published.</div>

<h4>How can I verify what information is encoded in the URL and invoice?</h4>
<div>You can decode the URL with python 3 like so</div>
<code>
echo PUT_URL_HERE   | python3 -c 'import zlib, binascii, urllib.parse, sys;
url = sys.stdin.readline();
url = url.rstrip("/\n"); "## drop trailing newline";
memo = url.split("/", 6)[6]; "## drop https://ln.support/p/new/preview/";
memo = memo.split("_", 1)[1]; "## drop ln.support_ memo prefix";
memo = memo.rstrip("/"); "## drop trailing /";
memo = urllib.parse.unquote(memo); "## url encdoding";
decoded = zlib.decompress(binascii.a2b_base64(memo)).decode("utf-8");
print(decoded);
' | python3 -m json.tool
</code>
<p><br /></p>

<div style="margin-top: 1em">You can decode the payment invoice with lnd command line like so</div>
<code>lncli decodepayreq PUT_INVOICE_HERE</code>
<p><br /></p>
</div>
