{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}

{% block page_title %}
    Bounty Publish
{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="col-md-4 col-xs-4" style="text-align: right;">
            LN Node: {{ node_name }}
        </h2>
    </div>
    <div class="row">
        <p class="col-md-4 col-xs-4" style="text-align: right;">
            Payment not going through?<br />
            ln.support has multiple nodes you can pay to:
        </p>
        <div class="btn-group">
            <a href="{{ next_node_url }}" class="btn btn-primary">
                    Pay to a different node
            </a>
        </div>

        <div>
            <a href="{{ open_channel_url }}">open channel</a>
        </div>
    </div>

    <div class="row">
        <div class="row">
        <div class="col-md-8 col-md-offset-1">
            Hi
        </div>
    </div>
    <div class="col-xs-3">
        <div class="user-sidebar">
        </div>
    </div>

{% endblock %}
