{% extends "starbase.html" %}
{% load server_tags %}
{% load crispy_forms_tags %}
{% load cache %}
{% load static %}

{% block page_title %}
    New Bounty
{% endblock %}

{% block content %}
    <div class="row">
        <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p>Bounty is a sum of money to incentivise a good answer</p>
            <ol>
                <li>Bounty is anonymous</li>
                <li>Anyone can increase the current bounty</li>
                <li>Bounty is awarded to the answer with the most votes</li>
                <li>Bounty is awarded 3 days after the first answer is posted unless there is a better answer</li>
                <li>Every time a better answer is posted the 3 day timer starts over</li>
                <li>Bounty only applies to answers that are posted after the bounty was started</li>
                <li>If the answer author does not take custody of the bounty sats within 7 days the award becomes available to the next best answer</li>
            </ol>

             <span itemscope itemtype="http://schema.org/Question">
                {% bounty_preview_body post previous_bounty_sats %}
             </span>

             {% if previous_bounty_sats %}
                 You are adding to a previous bounty
             {% endif %}

            {% crispy form %}
        </div>
    </div>
    <div class="col-xs-3">
        <div class="user-sidebar">
        </div>
    </div>

{% endblock %}
