:root {
   --MUTED_BACKGROUND: #dfdfdf;
   --MUTED_BACKGROUND_BORDER: #d6e9c6;
   --ACCENT_BACKGROUND: #F5E3B4;
   --ACCENT_COLOR: #5B8C3E;
   --ACCENT_BACKGROUND_BORDER: #5B8C3E;
   --DEFAULT_POST: #5B5B5B;
   --ANSWERED_POST: #1C1C1C;
   --COMMENTED_POST: #434343;
   --ACCEPTED_POST: #6C6 CC;
   --UNANSWERED_POST: #8F8F8F;
   --DEFAULT_QUESTION: #5B5B5B;
   --ANSWERED_QUESTION: #8C8C8C;
   --DEFAULT_FORUM: #B7B7B7;
   --DEFAULT_JOB: #E9E9E9;
   --TAG_COLOR: #6B3E4A;
   --TAG_BACKGROUND_COLOR: #ECECEC;
   --TAG_BORDER_COLOR: #BBB;
}
 body {
   font-size: 13px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 h1 {
   font-size: 1.8em;
}
 h2 {
   font-size: 1.6em;
}
 h3 {
   font-size: 1.4em;
}
 h4 {
   font-size: 1.2em;
}
 .wrapped {
   word-wrap: break-word;
}
 img {
   max-width: 100%;
}
 .btn-success {
   color: #fff;
}
 blockquote p {
   font-size: 14px;
   font-weight: 300;
   line-height: 1.25;
   font-style: italic;
}
 .award {
   padding-bottom: 1em;
   height: 6em;
}
 sup .badge {
   font-size: 10px;
}
 .badge {
   background-color: #5b8c3e;
}
 .stripe:nth-of-type(odd) {
   background: #f9f9f9;
}
 .post-action {
   margin-bottom: 5px;
}
 #logo {
   padding: 0px;
}
 #traffic {
   position: fixed;
   font-size: smaller;
   bottom: 0px;
   left: 0px;
   color: #999999;
   background-color: white;
   padding: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}
 .center {
   text-align: center;
}
 .post-title {
   font-family: arial, verdana, helvetica, sans-serif;
   color: #333333;
   font-size: 18px;
   font-weight: normal;
   margin-bottom: 5px;
}
 .rounded {
   border-radius: 7px;
}
 .tag-pad {
   margin-left: 12em;
   margin-bottom: 2px;
}
 #tag-list .tag {
   margin-top: 5px;
   font-size: large;
}
 .tag {
   float: left;
   margin-right: 5px;
   padding: 1px 4px 1px 4px;
   text-decoration: none;
   background-color: var(--TAG_BACKGROUND_COLOR);
   border-bottom: 1px solid var(--TAG_BORDER_COLOR);
   border-right: 1px solid var(--TAG_BORDER_COLOR);
   color: var(--TAG_COLOR);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}
 .alert {
   padding: 5px;
}
 #user-table {
   margin-top: 10px;
}
 .post-row {
   padding: 0.5em 0em 0.5em 0em;
   border-top: 1px solid #ECECEC;
}
 .post-row .count-box-sm {
   float: left;
}
 .post-row .count-box {
   float: left;
   width: 12.4em;
}
 .post-row .count-box .book_count {
   font-size: smaller;
   color: #762C90;
}
 .post-row .post-title {
   font-weight: bold;
   font-size: larger;
}
 .post-row .box {
   margin: 0 0.1em 0 0;
   padding: 1px;
   width: 4em;
   text-align: center;
   float: left;
}
 .post-row .box .t {
   font-size: smaller;
   margin-top: 5px;
}
 .post-row .box .c {
   font-size: 1.4em;
   font-weight: bold;
   height: 2ex;
   vertical-align: middle;
   text-align: center;
}
 .post-row .box.vote {
   background-color: #eeeeee;
}
 .userlink {
   float: right;
   padding-top: 0.1em;
   font-size: small;
}
 .ago {
   color: #808080;
}
 .muted {
   color: #808080;
}
 .title-box .ago {
   font-weight: bold;
}
 .post-body {
   padding: 1em 0em 1em 0em;
   border-bottom: 1px solid #d3d3d3;
}
 table#posts {
   vertical-align: top;
   padding: 0px;
   width: 100%;
}
 table#posts .book_count {
   width: 100%;
   font-size: x-small;
   color: #762C90;
   float: left;
   margin-left: -5px;
}
 .post-row .answered {
   background-color: var(--ANSWERED_POST);
   color: white;
}
 .post-row .commented {
   background-color: var(--COMMENTED_POST);
   color: white;
}
 .post-row .accepted {
   background-color: var(--ACCEPTED_POST);
   color: #E1E818;
}
 .post-row .unanswered {
   background-color: var(--UNANSWERED_POST);
   color: white;
}
 .post-row.Deleted {
   opacity: 0.5;
}
 .post-row.Tool .answered {
   background-color: #265040;
   color: white;
}
 .post-row.Tool .unanswered {
   background-color: #265040;
   color: white;
}
 .post-row.News .answered {
   background-color: #762C90;
   color: white;
}
 .post-row.News .unanswered {
   background-color: #762C90;
   color: white;
}
 .post-row.Tutorial .answered {
   background-color: #2C7990;
   color: white;
}
 .post-row.Tutorial .unanswered {
   background-color: #2C7990;
   color: white;
}
 .post-row.Forum .answered {
   background-color: var(--DEFAULT_FORUM);
   color: white;
}
 .post-row.Forum .commented {
   background-color: var(--DEFAULT_FORUM);
   color: yellow;
}
 .post-row.Forum .accepted {
   background-color: var(--DEFAULT_FORUM);
   color: yellow;
}
 .post-row.Forum .unanswered {
   background-color: var(--DEFAULT_FORUM);
   color: white;
}
 .post-row.Job .answered {
   background-color: var(--DEFAULT_JOB);
   color: white;
}
 .post-row.Job .commented {
   background-color: var(--DEFAULT_JOB);
   color: white;
}
 .post-row.Job .accepted {
   background-color: var(--DEFAULT_JOB);
   color: yellow;
}
 .post-row.Job .unanswered {
   background-color: var(--DEFAULT_JOB);
   color: white;
}
 ul.flat {
   list-style: none;
   padding: 0px;
   margin: 0px;
}
 .navfix {
   margin-top: 23px;
}
 .searchbar {
   margin-top: 1em;
   margin-bottom: 0.8em;
}
 #search-results .result {
   padding-bottom: 0.5em;
   border-bottom: 1px solid #d3d3d3;
}
 #search-results em {
   background-color: yellow;
}
 .pagination {
   margin: 5px 0;
}
 .login {
   font-size: large;
}
 #topnav {
   margin-top: 3px;
   text-transform: uppercase;
}
 #topnav > div {
   padding: 0.5em 0em 0.5em 0em;
   border-radius: 5px;
   -moz-border-radius: 5px;
}
 #topnav > div.active {
   color: #000000;
   background-color: var(--MUTED_BACKGROUND);
}
 #post-details .title {
   text-shadow: 1px 2px 2px rgba(0,0,0,0.1);
   font-size: 140%;
   font-weight: bold;
   padding: 0.5em 0em 0.2em 0em;
   margin-bottom: 10px;
   color: #333;
   border-bottom: 1px solid #d3d3d3;
}
 .post .title {
   text-shadow: 1px 2px 2px rgba(0,0,0,0.1);
   font-size: 140%;
   font-weight: bold;
   padding-bottom: 2px;
   margin-bottom: 10px;
   padding-top: 1em;
   color: #333;
}
 .post .action {
   float: left;
   width: 50%;
   padding-top: 10px;
   vertical-align: middle;
}
 .post.vote-box {
   text-align: center;
   width: 60px;
   float: left;
   margin-left: -10px;
   display: block;
}
 .post.vote-box .count {
   font-size: 240%;
   font-weight: bold;
   text-align: center;
   margin: 5px 0px 5px 0px;
}
 .post.vote-box .mark {
   height: 30px;
   background-position: center;
   margin-top: 10px;
   background-repeat: no-repeat;
   cursor: pointer;
   color: #2F5B14;
   opacity: 0.9;
}
 .post.vote-box .off {
   opacity: 0.3;
}
 .comment.vote-box {
   text-align: center;
   padding: 10px;
   padding-right: 15px;
   width: 35px;
   float: left;
   margin-left: -10px;
   display: block;
}
 .comment.vote-box .mark {
   cursor: pointer;
   color: #2F5B14;
   opacity: 0.9;
   width: 20px;
   float: left;
   vertical-align: middle;
}
 .comment.vote-box .count {
   width: 20px;
   float: left;
   font-size: small;
   font-weight: bold;
   text-align: center;
   vertical-align: middle;
   margin: 1px 0px 5px 0px;
}
 .comment.vote-box .off {
   opacity: 0.3;
}
 .action-line {
   width: 50%;
   float: left;
}
 .author-line {
   width: 30%;
   float: right;
}
 .comment {
   clear: left;
}
 .comment .entry {
   overflow-x: auto;
   padding: 10px 10px 5px 10px;
   margin-top: 0.3em;
   color: #666666;
   background-color: #efefef;
   border-bottom: 1px solid #eeeeee;
}
 .comment .entry hr {
   border-top: 1px solid #e3e3e3;
}
 .comment .post-info-line {
   float: left;
   margin-right: 10px;
   color: #666666;
}
 .comment .indent {
   margin-left: 1.5em;
}
 div#navbar {
   margin-top: 2px;
   margin-bottom: 2px;
}
 div#navbar .active {
   background-color: var(--MUTED_BACKGROUND);
   border-radius: 4px;
}
 div#navbar .top {
   padding: 0.1em;
   padding-left: 1em;
   margin-bottom: 1px;
   background-color: #eeeeee;
   border-radius: 4px;
   border: 1px solid #ececec;
}
 div#navbar .anon {
   padding: 1em;
   text-align: center;
   border-radius: 4px;
}
 div#navbar .mid {
   border-radius: 4px;
   vertical-align: middle;
   text-align: center;
   padding: 5px;
   margin-left: 2px;
   margin-bottom: 2px;
}
 .Deleted {
   opacity: 0.5;
   background-color: #FFD9CC;
}
 #post-list .post-row:nth-of-type(odd).Deleted {
   opacity: 0.5;
   background-color: #FFD9CC;
}
 .mod-post {
   cursor: pointer;
   padding: 2px;
   border-radius: 2px;
}
 .add-comment {
   cursor: pointer;
}
 .vote-popover {
   position: absolute;
   background-color: var(--MUTED_BACKGROUND);
   border-color: var(--MUTED_BACKGROUND_BORDER);
   color: #3c763d;
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid transparent;
   border-radius: 4px;
}
 .vote-popover.error {
   background-color: #f2dede;
   border-color: #ebccd1;
   color: #a94442;
}
 .sidebar .head {
   font-size: larger;
   font-weight: bold;
   margin-bottom: 5px;
}
 .sidebar ul {
   margin-left: -20px;
}
 .sidebar ul li {
   margin-bottom: 2px;
}
 .pagebar {
   margin-bottom: 3px;
}
 .highlighted {
   background-color: yellow;
}
 .select2-results {
   max-height: 650px;
   overflow-y: auto;
}
 .select2-results .in {
   font-size: small;
   color: #666666;
}
 .select2-results .in em {
   background-color: yellow;
}
 .Suspended {
   background-color: lightpink;
}
 .Banned {
   background-color: lightpink;
}
 .select2-results .select2-highlighted {
   background-color: var(--MUTED_BACKGROUND);
   color: black;
}
 .form-group {
   background-color: #efefef;
   padding: 5px;
   border-radius: 5px;
}
 .userbox.grey {
   background-color: #efefef;
   border: 1px solid #d3d3d3;
}
 .subtle {
   color: #808080;
}
 #userlist .box {
   padding: 10px 0px 10px 0px;
   font-size: small;
   height: 160px;
}
 #userlist .box .loc {
   color: #808080;
}
 .post-body .box {
   padding: 10px 0px 10px 0px;
   background-color: #f5f5f5;
   font-size: small;
   margin-left: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   border: 1px solid #d3d3d3;
}
 .post-body .box .loc {
   color: #808080;
}
 pre {
   overflow: auto;
}
 .preformatted {
   font-family: monospace;
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   white-space: -o-pre-wrap;
   word-wrap: break-word;
}
 .user-sidebar {
   margin-top: 30px;
}
 .user-sidebar li {
   margin-bottom: 3px;
   list-style: none;
}
 .dropdown-menu.dropup {
   top: auto !important;
   bottom: -6px;
}
 .content {
   min-height: 8em;
   overflow: auto;
}
 .context {
   margin: 0em 0em 1em 12em;
}
 .context em {
   background-color: yellow;
   text-transform: uppercase;
}
 .peek {
   color: #808080;
   font-size: small;
}
 .unread {
   padding: 8px;
   line-height: 1.428571429;
   vertical-align: top;
   border-top: 1px solid #ddd;
}
 .unread.True {
   background-color: var(--MUTED_BACKGROUND);
   margin-bottom: 2px;
}
 .toc .title {
   font-weight: bold;
}
 .blog-feed {
   border-bottom: 1px solid #ECECEC;
   padding-bottom: 1em;
}
 .blog-post {
   overflow: auto;
   border-top: 1px solid #999999;
   margin-top: 0.5em;
   padding-bottom: 1em;
}
 .blog-post h4 {
   color: #808080;
}
 #site-logo {
   background-color: transparent;
   float: left;
   width: 285px;
}
 