{% extends "starbase.html" %}
{% load server_tags %}
{% load cache %}
{% load more_like_this %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}
    {{ post.title }}
{% endblock %}

{% block extras %}

    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Converter.js" %}"></script>
    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Sanitizer.js" %}"></script>
    <script type="text/javascript"
            src="{% static "lib/pagedown/Markdown.Editor.js" %}"></script>

    {#  Markdown editor style #}
    <link rel="stylesheet" href={% static "lib/pagedown/markdown.css" %}>

{% endblock %}

{% block content %}


    <div class="row" itemscope itemtype="http://schema.org/QAPage">

        <div class="col-xs-12 col-md-9">

            <div id="post-details" >

                <span itemscope itemtype="http://schema.org/Question">
                    {% post_preview_body post %}
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 sidebar">
            {% cache 600 "similar" post.id %}
                <h4>Similar posts &bull; <a href="{% url 'search-page' %}">Search &raquo;</a></h4>

                {% more_like_this post as related limit 25 %}

                <ul class="more-like-this">
                    {% for row in related %}
                        {% with row.object as post %}
                            {% if post.is_toplevel %}
                                <li>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }} </a>

                                    <div class="peek">{{ post.peek|truncatechars:100 }}</div>
                                </li>
                            {% endif %}
                        {% endwith %}
                        {%  if forloop.counter == 3 %}
                            {% include "banners/sidebar.html" %}
                        {%  endif %}
                    {% empty %}

                        {% include "banners/sidebar.html" %}

                        <li>Nothing matches yet.</li>

                    {% endfor %}
                </ul>
            {% endcache %}
        </div>
    </div>
    <script src="/static/lib/prism/prism.js" type="text/javascript"></script>

{% endblock %}
